<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tsing Jyujing Local</title>
    <!-- Bootstrap core CSS -->
    <link href="/homedia/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/homedia/static/js/jquery.js"></script>
    <script src="/homedia/static/js/bootstrap.min.js"></script>
    <script src="/homedia/static/js/common_api.js"></script>
    <link rel="shortcut icon" href="/homedia/static/icons/video.png" type="image/png"/>
    <link rel="icon" href="/homedia/static/icons/video.png" type="image/png"/>
    <!--Code blocks-->
    <script language="javascript">

    </script>
</head>
<body>

<div class="container">
    <br>
    <br>
    <br>
    <br>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tsing Jyujing</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:alert('Copyright TsingJyujing');">Copyright-_-&nbsp;</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>


        <div class="col-md-12 column">

            <div class="row">
                <div class="container">
                    <div class="jumbotron">
                        <h3>资源网站</h3>
                        <p>
                            <a class="btn btn-info btn-lg" role="button" href="/homedia"
                               target="_blank">
                                进入
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="jumbotron">
                        <h3>Python 3.6.3 文档</h3>
                        <p>
                            <a class="btn btn-info btn-lg" role="button" href="/doc_center/python3.6/"
                               target="_blank">
                                进入
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="jumbotron">
                        <h3>Django 1.11 文档</h3>
                        <p>
                            <a class="btn btn-info btn-lg" role="button" href="/doc_center/django2.0/"
                               target="_blank">
                                进入
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
